{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}"/>
    <title>All Meetups</title>
</head>
<body>
    <header id="main-header">
        <nav><a href="/meetups" id="main-logo">Django Meetups</a></nav>
        <h1>We Got Dreat Meetups Comming Up</h1>
        <p>Find The One That Best Suits Your Needs</p>
    </header>
    <main>
        <section>
            <h2>Upcomming Meetups</h2>
            <ol>
                {% for i in meetups %}
                <li class="meetup-item">
                    <article>
                        <div class="meetup-summary">
                            <div class="meetup-image">
                                <img src="{{i.image.url}}" alt="" />
                            </div>
                            <div class="meetup-details">
                                <h3>{{i.title}}</h3>
                                <address>{{i.location}}</address>
                            </div>
                        </div>
                        <div class="meetup-actions">
                            <a href="{% url 'meetup-detail' i.slug %}" class="btn">More Details</a>
                        </div>
                    </article>
                </li>
                {% endfor %}
            </ol>
        </section>
    </main>
</body>
</html>